@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 21, 13);
  color: rgb(255, 226, 207);
}

.App {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}
header{
  background-color: black;
}
.links {
  margin: 2%;
  padding: 2%;
  background-color: rgb(57, 10, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20%;
}
.link {
  margin: 5%;
  background-color: black;
  border: 2px solid rgb(255, 226, 207);
  border-radius: 20%;
  color: rgb(255, 226, 207);
  padding: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navHeader {
  margin:5%;
  font-size: 4rem;
}
img{
  max-width:200px;
  border: 4px solid rgb(77, 29, 29);
}
.wonders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1rem solid black;
}
.wonder {
  background-color: rgb(57, 10, 10);
  padding: 10%;
  margin: 10%;
  border-radius: 20%;
  width: 40%;
  border: 5px outset burlywood;
  box-shadow: 15px 15px 15px rgb(43, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 1.5rem;
}

label {
  color: rgb(255, 226, 207);
  margin: 2%;    
}
button {
  background-color: grey;
  color: rgb(255, 226, 207);
  margin: 3%;
}
.wonderPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.singleWonder {
  background-color: rgb(57, 10, 10);
  padding: 5%;
  margin: 5%;
  border-radius: 20%;
  width: 20%;
  border: 5px outset burlywood;
  box-shadow: 15px 15px 15px rgb(43, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.description,
.reviews {
  width: 80%;
}